*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
img{
    height: 50px;
    width:70px;
    margin-right : auto;
    border-radius: 50px;
    padding : 5px 5px;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    display : flex;
    justify-content: flex-start;
    align-items: center;
    background-color : black;
    font-size:16px;
    
}
.navbar{
    list-style-type: none;
}
.nav_links{
    display: inline-block;
    padding : 0px 20px;
}
.contact{
    background-color: blue;
    font-weight: bold;
    border-radius: 20px;
    padding : 9px;
    color:white;
    border:none;
    
}