html {
    scroll-behavior: smooth;
  }

body{
    font-size : 18px;
    margin : 0px 5px;
  
}

header{
    /* background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-903ea3cb.jpg"); */
   background-color:#64c4ed;
    color:black;
    /* margin : 0 ; */
    height: 80px;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom:0px solid black;
    /* border-radius: 20px; */
    font-family: 'Cambria';
}

table.heading{
    border-collapse: collapse;

}
table.heading tr td{
    text-align: center;
    width: 150px;
    border-spacing: 10px;
}
table.heading tr:nth-child(odd) {
    background-color:rgb(211, 209, 209);
}

table.version{
    border-collapse: collapse;
    width: 100%;
}
table.version th,table.version td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }

table.formatting{
    border-collapse: collapse;
}
table.formatting th{
    height:40px;
    border-bottom: 2px solid black;
   
}
table.formatting tr td{
    text-align: center;
    height:35px;
    border:none;
}
table.formatting tr:nth-child(odd) {
    background-color:rgb(211, 209, 209);
}

nav{
    /* border: 2px solid black; */
    background-color:#badfdb;
    /* background-image: linear-gradient(to right, red , yellow); */
    border-top:2px solid black;;

    /* margin-top:0; */
    /* border-radius: 15px; */
    padding:10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


    text-align: center;
    /* height : 40px; */
}

.link {
    transition: 0.4s;
    color: #000000;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
  }

.link:hover{
  background-color: #ffffff;
  color: #EEA200;
  padding: 10px 10px;
  border-radius: 15px;
  padding: 10px 10px;
}

.innerHeading h2{
    padding-top:10px;
    padding-left:10px;
    border-left: 5px solid rgb(0, 0, 0);
    background-color: #aee7e8;
    
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; 
    height:50px;
}


input[type=text],input[type=password],input[type=email],input[type=number],input[type=date],select,
textarea{
    font-size:15px;
    padding: 5px 0;
    width:100%;
    /* border-radius: 10px; */
    background-color: #ecfcff;
    
}
input[type=text],input[type=password],input[type=email],input[type=number],input[type=date]
{
    border:none;
    border-bottom : 1px solid black;
}

input:focus,textarea:focus,select:focus{
    background-color: white;
    /* border: 1px solid black;; */
    outline: none;
}

.FormRegister{
    border:none;
    border-radius: 20px;
    /* height:100%; */
    height : 900px;
    width:40%;
    background-color:#ecfcff;
    border: 1px solid black;
    padding: 30px 20px;
    margin : 10% 30%;
}
input[type=submit]{
    width:45%;
    float:left;
    height:40px;
    background-color:green;
    border:none;
    color:white;
    font-size:18px;
    border-radius: 10px;
    
}
input[type=reset]{
    width:45%;
    float:right;
    height:40px;
    background-color:red;
    border:none;
    color:white;
    font-size:18px;
    border-radius: 10px;
}


